* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    /* align-items: center; */
    /* min-height: 100hv; */
    justify-content: center;
    background-color: rgb(0, 153, 255);
}

.wrapper {
    margin-top: 50px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
}

#back-btn {
    color: rgb(55, 125, 172);
    margin-right: 10px;
    margin-left: -10px;
}

.mainHeading {
    color: rgb(0, 153, 255);
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.input {
    margin-left: 10px;
}

.error {
    margin-left: 10px;
    background-color: rgb(247, 120, 120);
    color: rgb(131, 37, 37);
    text-align: center;
    padding-top: 8px;
    width: 90%;
    height: 40px;
    border-radius: 6px;
}

.pending {
    margin-left: 10px;
    background-color: rgb(128, 233, 125);
    color: rgb(53, 104, 43);
    text-align: center;
    padding-top: 8px;
    width: 90%;
    height: 40px;
    border-radius: 6px;
}

#input_city {
    border: 1px solid rgb(192, 190, 190);
    outline: none;
    width: 90%;
    padding-left: 10px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 20px;
}

#input_city:focus {
    border: 2px solid rgb(0, 153, 255);
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    color: #ccc;
    align-items: center;
    text-align: center;
}


/* To show the lines on right 
  and left sides of the text */

.divider::after,
.divider::before {
    content: "";
    border-bottom: 1px solid #ccc;
    flex: 1;
}


/* Space on left and right sides of text */

.divider:not(:empty)::before {
    margin-right: 0.5em;
}

.divider:not(:empty)::after {
    margin-left: 0.5em;
}

#btn_location {
    width: 90%;
    height: 40px;
    border: 1px solid rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    background-color: transparent;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn_location:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.weather-portion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather-img {
    max-width: 120px;
    padding: 0%;
    margin-top: -10px;
    margin-bottom: -10px;
}

.temp {
    display: flex;
    font-size: 50px;
    font-weight: 500;
}

.numb {
    font-weight: 600;
}

.weather {
    font-size: 18px;
    text-align: center;
    margin: -5px 10px 5px;
}

.location {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.location i {
    font-size: 20px;
    margin-right: 5px;
}

.bottom-details {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    margin-bottom: 5px;
}

.column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.column i {
    color: rgb(0, 153, 255);
    font-size: 40px;
}

.humidity {
    border-left: 1px solid #ccc;
}

#inner-tmp {
    font-size: 18px;
    font-weight: 500;
}

.feel-para,
.humidity-para {
    font-size: 17px;
    font-weight: 400;
}

.hidden {
    display: none;
    border: 1px solid red;
}